
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}



.header {
display: flex;
justify-content: center;
align-items: center;
gap: 16px;
text-align: center;
margin-bottom: 16px;
}

.gridSize, .clearButton, .gradient, .rainbow, .black {
padding: 8px 16px;
font-size: medium;
}

.container {
  display: flex;
  height: 800px;
  width: 800px;
}



.div {
  background-color: blue;
  flex: 1 1 auto;
  height: 200px;
  width: 200px;
}


/*
.two {
  background-color: blue;
  border: solid;
  border-width: 1px;
  flex: 1 1 auto;
  height: 200px;
  width: 200px;
}


.three {
  background-color: blue;
  border: solid;
  border-width: 1px;
  flex: 1 1 auto;
  height: 200px;
  width: 200px;
}

.four {
  background-color: blue;
  border: solid;
  border-width: 1px;
  flex: 1 1 auto;
  height: 200px;
  width: 200px;
*/


/*
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.body {
display: flex;
justify-content: center;
align-items: center;
gap: 16px;
text-align: center;
flex-direction: column;
}

.header {
  display: flex;
}

button {
padding: 8px 16px;
font-size: medium;
}
.container {
  margin-top: auto;
  display: flex;
  height: 600px;
  width: 600px;
}
*/

